<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PinasGetaway</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('index') }}">PinasGetaway</a>
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>
