{% extends "layout.html" %}

{% block body %}
<style>
    .error {
        color: red;
        font-size: 0.9em;
        margin-top: 0.5em;
    }
</style>
<div class="container-form">
    <h1>Log In</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
        <div>
            <input type="email" name="email" placeholder="Email" value="{{ form.email.data or '' }}" size="32">
            {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" size="32">
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            <input type="submit" value="Log In">
        </div>
    </form>
</div>
{% endblock %}
