{% extends "layout2.html" %}

{%block body%}
<div class="container-form">
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h1>Register</h1>
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"><br>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
{%endblock%}