{% extends "layout.html" %}

{% block body %}
    <h1 id="tourist-spots-title">Worldwide Tourist Spots</h1>
    <div class="container">
        <div class="row" id="vacation-container">
            <!-- Initial vacation spots will be loaded here -->
        </div>
    </div>
    <div id="loading" style="text-align: center; margin: 20px 0;">
        <p>Loading more vacation spots...</p>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scroll_world.js') }}"></script>
<script src="{{ url_for('static', filename='js/phone-screen.js') }}"></script>
{% endblock %}
